<div class="col-lg-4 mx-auto mt-5">
  <form [formGroup]="populationForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="year">Year</label>
      <input type="text" class="form-control" formControlName="year" placeholder="year">
    </div>
    <div class="form-group">
      <label for="age">Age</label>
      <input type="number" class="form-control" formControlName="age" placeholder="age">
    </div>
    <button type="submit" class="btn btn-success" [disabled]="populationForm.invalid">Click</button>
  </form>
</div>

<table class="table table-hover mt-3">
  <thead>
    <tr>
      <th>Country</th>
      <th>Year</th>
      <th>Age</th>
      <th>Female</th>
      <th>Males</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let list of populationList">
      <td>{{list.country}}</td>
      <td>{{list.year}}</td>
      <td>{{list.age}}</td>
      <td>{{list.females}}</td>
      <td>{{list.males}}</td>
      <td>{{list.total}}</td>

    </tr>
  </tbody>
</table>
